img{
    border: 1px solid rgba(109, 109, 109, 0.301);
}

a{
    color: rgb(112, 112, 112);
}

a:visited{
    color: rgb(176, 96, 187);
}

.postContainer{

    width: 65%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;

    padding: 1em;
}

figure{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 1em;
}

figcaption{
    text-align: center;
}